.character-grid {
  /* text-align: left; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(105px, 1fr));
  grid-gap: 5px;
  padding-bottom: 108px;
  padding-left: 15px;
  padding-right: 15px;
}
