.regular-character {
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.name-tag {
  position: absolute;
  bottom: 5px;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  text-shadow: 2px 2px #000;
  font-weight: 900;
}

.selector-image {
  width: 100%;
}
