@import "./partials/characterGrid", "./partials/characterHeroImage",
  "./partials/characterRegular", "./partials/episodeLogo",
  "./partials/episodeSelector", "./partials/header", "./partials/stripMeme",
  "./partials/thumbnailGrid", "./partials/memeModal";

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./Hack-BoldOblique.ttf) format("truetype");
}

.wrapper {
  margin-top: 0px;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: 250px;
}

.input-block {
  display: block;
  width: 100%;
}

.home-wrapper {
  width: calc(100% - 40px);
  margin-left: 20px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.meme-maker {
  width: 100%;
  margin-bottom: 100px;
}

.container {
  position: relative;
  text-align: center;
}

.input-top-text {
  position: absolute;
  width: 100%;
  margin-top: 25px;
}

.input-bottom-text {
  position: absolute;
  width: 100%;
  margin-top: -30px;
}
::placeholder {
  color: yellow;
  opacity: 0.5; /* Firefox */
}

input[type="text"] {
  max-width: 800px;
  padding: 12px 20px;
  border: none;
  border-color: rgba(255, 255, 255, 0.6);
  /* border-radius: 4px; */
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  font-family: "MyFont";
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align: center;
  font-size: 19px;
  color: yellow;
  font-style: italic;
  text-shadow: 2px 2px #000;
  font-weight: bold;
  @media (max-width: 360px) and (min-width: 0) {
    font-size: 8px;
  }
  @media (max-width: 500px) and (min-width: 361px) {
    font-size: 10px;
  }
  @media (max-width: 650) and (min-width: 550px) {
    font-size: 15px;
  }
  @media (max-width: 800px) and (min-width: 800px) {
    font-size: 20px;
  }
}

.meme-image {
  width: 100%;
  -webkit-touch-callout: none;
}

.rendered {
  padding: 15px 15px 0px;
}

.single-meme-form {
  margin-top: 20px;
}

button.create-meme {
  width: 195px;
  height: 55px;
  background-color: #2f80ed;
  color: white;
  font-size: 18px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0;
  font-weight: 300;
  border: none;
  margin-top: 55px;
}

p {
  color: white;
}

button.add-button {
  width: 195px;
  height: 55px;
  background-color: #000;
  color: #2f80ed;
  font-size: 18px;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0;
  font-weight: 300;
  border: 1px solid #2f80ed;
  margin-top: 20px;
}

div.copy-to-clipboard {
  width: 300px;
  height: 55px;
  background-color: #2f80ed;
  color: white;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 0;
  font-weight: 300;
  border: none;
  margin: 0 auto;
  position: relative;
  margin-top: 20px;
}

.facebook-share-button,
.twitter-share-button,
.reddit-share-button,
.email-share-button,
.clipboard-icon {
  width: 64px;
  margin: 0 auto;
  padding: 0 5px;
}

.clipboard-icon {
  position: absolute;
  margin-top: 12px;
  left: 0px;
}

.copy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
  font-weight: 400;
}

.share-bar {
  margin: 0 auto;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-text {
  color: white;
}

.clipboard-icon {
  color: white;
}

.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100%;
}

.empty-state {
  color: white;
  margin: 15%;
  font-size: 1.1em;
}

.film-bg {
  transform: rotate(15deg);
}

.swipe-wrapper {
  margin-top: -20px;
}

.badge {
  position: absolute !important;
  top: 5px;
  right: 7px;
}

.move-button {
  margin-top: 20px;
  margin-right: calc(((100% - 800px) / 2) + 20px);
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 0%;
}

.filler-text {
  color: white;
  height: 100vh;
}

.social-icon {
  border-radius: 5px;
}

input,
textarea,
button,
select,
a,
span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.st-btn {
  zoom: 150%;
  margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
  .move-button {
    margin-top: 20px;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    right: 0;
  }
}

.construction-message {
  color: white;
  margin: auto;
  width: 70%;
  padding: 10px;
  margin-top: 50px;
}

.construction-image-container {
  position: relative;
}

.construction-image-overlay {
  position: absolute;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  left: 30%;
  top: 30%;
  @media (max-width: 360px) and (min-width: 0) {
    font-size: 15px;
  }
  @media (max-width: 500px) and (min-width: 361px) {
    font-size: 20px;
  }
  @media (max-width: 650) and (min-width: 550px) {
    font-size: 25px;
  }
}
